<ion-view  title="Home">
    <ion-content class="padding">
        <div ng-show="showBook">
            {{book.title.author.firstname}}
        </div>
        <button class="button button-full button-balanced" ng-click="openFileDialog()">
            Add book
        </button>
    </ion-content>
</ion-view>
