<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <!--<ion-nav-back-button class="button-icon ion-arrow-left-c">-->
            <!--</ion-nav-back-button>-->
        </ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
            </button>
        </ion-nav-buttons>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="200">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/menu/home" data-click-menulink class="item item-icon-left" menu-close>Home</a>
                <a href="#/menu/book" data-click-menulink class="item item-icon-left" menu-close>Book</a>
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>